extends index.pug

block accueil
    div#accueil_body
        h1 Bienvenue sur votre page de défis éco-responsabilsants !
        form(class="form-body", action="/user/log", method="POST")
            label(for="email", class="form-tag")
            |Adresse mail
            input(type="email", class="form-input", name="mail", id="mail", placeholder="mailadress@mail.com", maxlength="64", required)
            label(for="password", class="form-tag")
            |Mot de passe
            input(type="password", class="form-input", name="password", id="password", placeholder="P@ssw0rd", maxlength="32", required)
            button(type="submit", class="log_on") Connexion
        hr
        p Boutons de test
    br
    br
    div#testDB
        a(href="/testCreate")#create
            button Créer
        a(href="/testUpdate")#update
            button Modifier
        a(href="/testDelete")#delete
            button Supprimer