doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel="stylesheet", href="style.css")
  title How to be an ecologist, young adult version

nav#navbar
        ul#navlist
            li.navitem
                a(href="#") Lien 1
            li.navitem
                a(href="#") Lien 2
            li.navitem
                a(href="#") Lien 3
            li.navitem
                a(href="#") Lien 4

block accueil
block testCreate
block testDelete
block testUpdate
