extends index.pug

block navbar
    nav#navbar
        ul#navlist
            li.navitem
                a(href="#") Lien 1
            li.navitem
                a(href="#") Lien 2
            li.navitem
                a(href="#") Lien 3
            li.navitem
                a(href="#") Lien 4