extends index.pug

block testDelete
    div#testDelete_body
        h2 Suppression d'un utilisateur
        form(action="/users/delete", class="form-body", method="POST")
            label(for="pseudo", class="form-tag")
            |Pseudo
            input(type="text" class="form-input", name="pseudo", id="pseudo", placeholder="Entrez le pseudonyme du membre à supprimer", maxlength="64", required)
            button(type="submit") Supprimer