extends index.pug

block testUpdate
    div#testUpdate_body
        h2 Ajout d'un utilisateur
        form(action="/users/update", class="form-body", method="POST")
            label(for="email", class="form-tag")
            |Adresse mail
            input(type="email", class="form-input", name="mail", id="mail", placeholder="mailadress@mail.com", maxlength="64", required)
            label(for="password", class="form-tag")
            |Mot de passe
            input(type="password", class="form-input", name="password", id="password", placeholder="P@ssW0rd", maxlength="32", required)
            label(for="pseudo", class="form-tag")
            |Pseudo
            input(type="text" class="form-input", name="pseudo", id="pseudo", placeholder="Entrez votre pseudonyme ici...", maxlength="64", required)
            button(type="submit") Modifier