/* Global stylesheet */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(225, 225, 225);
}

/* Navbar stylesheet*/

#navbar {
    background-color: grey;
    height: 7.5vh;
    width: 100vw;
    display: none;
}

#navlist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding: 0;
}

.navitem {
    padding-top: 2.5vh;
    list-style-type: none;
    font-size: 1.25em;
}

/* Homepage_body stylesheet */

#accueil_body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: red;
    font-size: 3em;
}

.form-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.form-input {
    text-align: center;
    margin: 1% auto;
    width: 40vw;
}

.log_on {
    display: flex;
    background-color: rgb(60, 60, 250);
    color: white;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
    font-size: 1.75em;
}

hr {
    border: 5vh solid transparent;
}

/* Test stylesheet */

#testDB {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}